/* Write your CSS here */
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contain {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  color: #ffffff;
}
.logoimg {
  height: 50px;
  margin-right: 15px;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
